
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

@font-face {
    font-family: Poppins-semibold;
    src: url("./fonts/poppins-cufonfonts/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: Poppins-bold;
    src: url("./fonts/poppins-cufonfonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: Poppins-regular;
    src: url("./fonts/poppins-cufonfonts/Poppins-Regular.ttf");
}